<h1>Application</h1>

<h2>Name: <%= @application.name %></h2>
<h3>Address: <%= @application.address_street %>, <%= @application.address_city %>, <%= @application.address_state %> <%= @application.address_zip %></h3>
<h3>Description: <%= @application.description %></h3>
<h3>Status: <%= @application.status %></h3>

Pets:
<div id="pet_list">
<ol>
  <% @pets.each do |pet| %>
    <li><%= "#{pet.name}" %>
    <% if pet.app_status(@application.id)[0].nil? %>
      <%= button_to "Approve", "/application_pets", method: :patch, local: :true, params: {pet_id: pet.id, application_id: @application.id} %></li>
    <% else %>
      <%= pet.app_status(@application.id)[0] %>
    <% end %>
  <% end %>
</ol>
</div>
