<h1>Application</h1>

<h2>Name: <%= @application.name %></h2>
<h3>Address: <%= @application.address_street %>, <%= @application.address_city %>, <%= @application.address_state %> <%= @application.address_zip %></h3>
<h3>Description: <%= @application.description %></h3>
<h3>Status: <%= @application.status %></h3>

Pets:
<div id="pet_list">
<ol>
  <% @pets.each do |pet| %>
    <li><%= link_to "#{pet.name}", "/pets/#{pet.id}", {method: :get} %></li>
  <% end %>
</ol></div><br><br>

<% if (@pets != []) && (@application.status == 'In Progress') then %>
  <%= render "submit_application" %>
<% end %>

<% if @application.description.nil? then %>
  <%= render "pet_search" %>
<% end %>

<% if !@pets_2.nil? then %>
  <%= render "search_results" %>
<% end %>
